
.listings-container {
    background-color: #dce7f9;
    font-family: arial;
    display: flex;
    flex-direction: column;
    min-height: 100;
    padding: 10px;
}

.your-listings-title {
    text-transform: uppercase;
    font-weight: 900;
    /* border-left: 10px solid #fec500; */
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px
}

.listings-body {
    width: 100%;
}