.body-container {
    display: block;
    margin: auto;
}

.filter-bar {
    width: 90%;
    margin: auto;
}

/* filtered tickets */
.filtered-tickets-container{
    display:inline-flex;
    flex-wrap: wrap;
    width: 90%;
}

/* each ticket */
.one-ticket {
    width: 25%;
    margin: 3rem 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    position: relative;
}

/* no tickets */
.empty-category {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: Milligram, sans-serif;
    font-size: 3rem;
    line-height: 100%;
    height: 40.5vh;
    padding-top: 100px;
    font-weight: lighter;
}

