.all-tickets-body-container {
    display: flex;
}

.filter-bar {
    width: 20%;
    justify-content: center;
    margin-left: 9px;
}

/* filtered tickets */
.filtered-tickets-container{
    display:inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

/* each ticket */
.one-ticket {
    width: 30%;
    margin: 3rem 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    position: relative;
}

/* category selector
.select {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
} */

/* no tickets */
.empty-category {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: Milligram, sans-serif;
    font-size: 3rem;
    line-height: 100%;
    height: 40.5vh;
    padding-top: 100px;
    font-weight: lighter;
}

