* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background color */
.body_cart {
    background-color: white;
}

.checkout {
    padding: 10px;
    min-height: 80vh;
}

.shopping-cart-title {
    display: flex;
    justify-content: center;

}

.quantity-button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 18px;
    margin: 0 15px;
    height: 30px;
    width: 30px;
}

.left-btn {
    margin-left: 0;
}

.disclaimer{
    font-size: 7px;
}

.error-message {
    position: relative;
    bottom: -10px;
    z-index: 50;
    font-size: 14px;
    color: red;
}

.trashcan {
    border: none;
    cursor: pointer;
    background: none;
}

/* EACH TICKET */
.each-ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    width: 90%;
    margin: 0 auto;
}

.link-title {
    width: 200px;
}

.cart-ticket-img {
    width: 100%;
    max-width: 150px;
    max-height: 200px;
    border-radius: 15px;
}

.ticket-price {
    font-size: 1.1rem;
}

.number_input {
    height: 40px;
    border-radius: 6px;
    text-indent: 12px;
}

.checkout_main_section_cart {
    padding: 16px 10px;
    height: fit-content;
    border-radius: 12px;
    position: sticky;
    border: 1px solid black;
    box-shadow: .15rem .15rem 4px #000;
}

.mapped-cart {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.mapped-tickets {
    color: black;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.mapped-price {
    color: black;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: end;
}

.scrollable_div {
    padding-top: 25px;
}

.cart-summary-title {
    color: black;
    padding-bottom: 5px;
}

.scrollable-cart-body{
    height: 200px;
    overflow-y: scroll;
    width: 100%;
}

/* subtotal */
.subtotal-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    /* margin-top: 50px; */
}

.checkout_subtotal {
    color: #000;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: start;
}

.checkout_subtotal_price {
    color: #000;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: end;
}

.checkout_btn:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

/* EMPTY */
.empty-container {
    height: fit-content;
    margin-top: 7%;
    margin-bottom: 7%;
    position: sticky;
}