
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    width: 100vw;
    height: 10vh;
    background-color: #07060bf1;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-links-color {
    color: white;
    transition: all 200ms ease-in-out;
    font-size: 1rem;
}

.footer-links-color:hover {
    font-size: 1.3rem;
}

.footer-info {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.footer-logo-img {
    width: 40px;
    height: 40px;
}