
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    width: 100vw;
    height: 15vh;
    background-color: #1C2431;
    /* padding-top: 20px; */
}

.footer-links {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    /* padding-top: 20px; */
}

.footer-links-color {
    color: white;
    transition: all 200ms ease-in-out;
    font-size: 1rem;
}

.footer-links-color:hover {
    font-size: 1.3rem;
    padding-bottom: 4px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-info {
    display: flex;
    justify-content: center;
    background-color: #151B27;
    color: white;
    padding: 8px;
    margin-top: 2px;
}