.main-body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}

.container-header {
    position: relative;
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.title-container {
    display: block;
    justify-content: center;
    margin-top: 5%;
    margin-left: 8%;
    position: absolute;
}

.title {
    color: #000000;
    text-transform: uppercase;
    text-align: start;
    margin-top: 1rem;
    font-weight: 800;
}

/* .slider {
    overflow: hidden;
    width: 100%;
    height: 40vh;
    position: absolute;
}
.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    animation: slide 50s infinite;
    opacity: 0.5;
}

.slider .slide:nth-child(1) {
    background-image: url('../assets//images/TS.webp');
    animation-delay: -10s;
}

.slider .slide:nth-child(2) {
background-image: url('../assets/images/JM.webp');
animation-delay: -20s;
}

.slider .slide:nth-child(3) {
background-image: url('../assets/images/CS.webp');
animation-delay: -30s;
}

.slider .slide:nth-child(4) {
background-image: url('../assets/images/JT.jpg');
animation-delay: -40s;
}

.slider .slide:nth-child(5) {
background-image: url('../assets/images/KS.jpg');
animation-delay: -50s;
}

@keyframes slide {
    0%, 15%, 100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }
    20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }
    95% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
} */


.section-one {
    height: auto;
    /* border-top: 3px solid black; */
    padding-bottom: 60px;
}

.category-title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    margin-left: 20px;
    margin-top: 5px;
}

.carousel-container {
    width: 90%;
    margin: auto auto;
    margin-top: 4rem
}

.carousel-body {
    display: flex;
    justify-content: center;
}

/* Shop button */
.shop-button {
    margin-top: 30px;
}

/* Find Deals and Shop button */
.deals-button, .shop-button {
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .14s ease-out;
}

/* Find Deals button */
.deals-button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #ff90e8;
}

.deals-button:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}
.deals-button {
    margin-top: 50px;
}

@keyframes rotate-cart {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(3deg);
    }
}

.slick-prev:before {
    color: black !important;
    font-size: 26px !important;
    opacity: 100% !important;
    margin-right: 5px;

    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 30px;
    padding: 0;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    margin-right: 5px;
}

.slick-next::before {
    color: black !important;
    font-size: 26px !important;
    margin-right: 20px !important;
    opacity: 100% !important;
}

/* dots */
.slick-dots {
    /* bottom: -30px; */
    visibility: hidden;
}