.main-body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}

.body {
    background-image: url(../assets/images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* width, height */
    background-size: 100%, contain;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.opaque {
    background: rgba(255, 248, 248, 0.118); 
    height: 50vh;
}

/* description container */
.container-header {
    margin-top: 3%;
}

.containerLink {
    margin-left: 8%;
    z-index: 10;
    color: #ffffff;
    text-transform: uppercase;
}

/* description words */
.title {
    color: #000000;
    text-transform: uppercase;
    text-align: start;
    margin-top: 1rem;
    font-weight: 800;
}

.section-one {
    height: auto;
    /* border-top: 3px solid black; */
    padding-bottom: 60px;
}

.category-title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    margin-left: 20px;
    margin-top: 5px;
}

.carousel-container {
    width: 90%;
    margin: auto auto;
    margin-top: 4rem
}

.carousel-body {
    display: flex;
    justify-content: center;
}

/* Shop button */
.shop-button {
    margin-top: 30px;
}

/* Find Deals and Shop button */
.deals-button, .shop-button {
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .14s ease-out;
}

/* Find Deals button */
.deals-button:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #ff90e8;
}

.deals-button:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}
.deals-button {
    margin-top: 50px;
}

@keyframes rotate-cart {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(3deg);
    }
}

.slick-prev:before {
    color: black !important;
    font-size: 26px !important;
    opacity: 100% !important;
    margin-right: 5px;

    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 30px;
    padding: 0;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    margin-right: 5px;
}

.slick-next::before {
    color: black !important;
    font-size: 26px !important;
    margin-right: 20px !important;
    opacity: 100% !important;
}

/* dots */
.slick-dots {
    /* bottom: -30px; */
    visibility: hidden;
}