
.bg-color {
    background-image: url(../assets/images/photo-1540039155733-5bb30b53aa14.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-width: 100vh;
    width: 100%;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.unauthorized {
    display: inline;
    font-size: 20px;
    color: red;
}

.card-body {
    text-align: center;
}

.ticket-card {
    display: table-row;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.redirect {
    color: black;
    font-weight: bold;
    font-size: 20px;
}