
.bg-color {
    background-image: url(../assets/images/photo-1540039155733-5bb30b53aa14.jpg);

    background-repeat: no-repeat;
    background-size: 100%, contain;

    min-height: 100vh;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.unauthorized {
    display: inline;
    font-size: 25px;
    color: red;
}

.card-body {
    margin-top: 4px;
    text-align: center;
}

.ticket-card {
    display: table-row;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: c;
}

.redirect {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}