/* .bg-image {
    height: 500px;
} */

.card {
    border-radius: 1rem;
}

.ticket-card {
    display: table-row;
    width: 100%;
    background-color: #fff;
    color: #989898;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: c;
}