
.one-ticket-container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-ticket-container {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    height: 40vh;
}

.one-ticket-image-container {
    text-align: center;
    width: 30%;
    margin-top: 50px;
}

.one-artist-picture {
    border-radius: 15px;
    width: 40%;
}

.one-ticket-description-container {
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    padding: 20px;
}

.one-ticket-artist {
    font-size: 2.4rem;
    margin-bottom: 24px;
}

body{
    width: 100vw !important;
    overflow-x: hidden;
}

.one-ticket-discount-price {
    color: red;
}

.one-ticket-info, .one-ticket-address, .one-ticket-prices, .one-ticket-original-price {
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 150%;
    text-align: start;
}

.one-ticket-payment {
    width: 30%;
    display: block;
    align-content: center;
    /* text-align: center; */
}

.one-ticket-addToCart {
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .14s ease-out;
    margin-top: 30px;
    margin-bottom: 24px;
}

.payment-badge {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.one-ticket-map {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.one-ticket-map-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

@media(max-width: 1000px) {
    .candy__description__one {
        width: 80%;
        font-size: 1.1rem;
    }

    .title_candy_categorttext {
        font-size: 2rem;
    }
}

@media(max-width: 1000px) {
    .one-ticket-description-container {
        width: 80%;
        font-size: 1rem;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .one-ticket-artist {
        font-size: 1.5rem;
        margin-bottom: 6px;
    }
}

@media(max-width:700px) {
    .one-ticket-description-container {
        display: none;
    }
}




@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }