.wrapper {
    background-color: #ecdfdf;
}

.receipt_container {
    width: 60%;
    margin: 5% auto;
    border: 2px solid black;
    box-shadow: .15rem .15rem 4px #000;
    border-radius: 10px;
    background-color: rgb(247, 246, 246);
    padding: 3%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.receipt_table {
    width: 100%;
    border: none;
    margin-top: 30%;
}

.r_table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border: 2px solid black;
}

.receipt_row {
    border: none;
}

.receipt_th_1 {
    background-color:  rgb(162, 180, 195);
    width: 50%;
    padding: 5px;
    border-collapse: collapse;
}

.receipt_th_2 {
    background-color:  rgb(162, 180, 195);
    width: 15%;
    padding: 5px;
    border-collapse: collapse;
}

.receipt_th_3 {
    background-color:  rgb(162, 180, 195);
    width: 15%;
    padding: 5px;
    border-collapse: collapse;
}

.receipt_th_4 {
    background-color:  rgb(162, 180, 195);
    width: 20%;
    padding: 5px;
    border-collapse: collapse;
}

.receipt_td {
    background-color:  white;
    border: none;
}

.receipt_td_ST {
    background-color:  white;
    border-top: 1px solid black;
}

.push_left {
    text-align: start ;
}

.link {
    color:  black;
}

.close_container{
    width: 200px;
    margin:10px auto;
}

.title {
    padding-top: 5px;
    font-size: 24px;
}

.thanks {
    padding: 5px;
    font-size: 24px;
    margin-top: 15px;
}

.notes {
    font-size: 24px;
}

.close {
    width: 150px;
    height: 55px;
    font-size: 1rem;
    border: solid .0625rem black;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: .25rem;
    font-family: Mabry Pro;
    cursor: pointer;
    transition: all .14s ease-out;
    margin-top: 2%;
    margin-left: 10%;
}

.close:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
    background-color: #ff90e8;
}


.close:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}

.spacer {
    margin: 15px
}