.search-results-container {
    min-height: 100vh;
}

.search-results-body-content {
    padding: 2rem;
}

.search-results-title {
    padding: 10px;
    margin: 20px 20px;
}

.search-results-content {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.search-results-tickets {
    flex: 1 1 60%;
    min-width: 0;
}

.search-results-tickets .tab-content .table {
    margin-bottom: 0;
}
.table thead {
    font-size: 20px;
}
.search-results-tickets .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.search-results-tickets .tab-content .table tbody tr th .event-date span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
}
.search-results-tickets .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}
.search-results-tickets .tab-content .table tbody tr td .event-img img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.ticket-login-sidebar {
    flex: 1;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex: 0 0 250px;
    max-width: 250px;
}

.sidebar-login-link-btn {
    display: inline-block;
    background-color: #FF5841;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.empty-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    background-color: #f9f9f9; /* Optional: add a light background */
    border: 1px dashed #ccc; /* Optional: a dashed border to visualize the area */
    border-radius: 10px;
    max-width: 800px;
    margin-top: 50px; /* Adjust spacing as necessary */
    margin-left: auto; /* Centers the container horizontally */
    margin-right: auto; /* Centers the container horizontally */
}

.empty-listings h4 {
    font-size: 24px;
    color: #FF5841;
    margin-bottom: 10px;
}

.empty-listings p {
    font-size: 16px;
    color: #777;
    max-width: 600px; /* Optional: to limit the text width */
}
