/* section 1 */
#booking {
    background-image: url(../assets/images/searchEvent.avif);
    background-size: cover;
    background-position: center;
}

.section {
    position: relative;
    height: 80vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.booking-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.booking-container:before {
    display: table;
    content: "";
}

.booking-container:after {
    clear: both;
}

.booking-row {
    width: 70%;
    /* height: 20vh; */
    margin: auto;
}

.booking-row:before {
    display: table;
    content: " ";
}

.booking-row:after {
    clear: both;
}

.booking-form {
    background: rgba(0,0,0,.7);
    padding: 40px;
    border-radius: 6px;
}

.booking-form .form-control {
    background-color: #fff;
    height: 50px;
    color: #191a1e;
    border: none;
    font-size: 16px;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 40px;
    padding: 0 25px;
}

.booking-form .search-event-button {
    color: #fff;
    background-color: #94a8c5;
    font-weight: 400;
    height: 50px;
    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.results-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* section 2 */
.each-event {
    width: 90%;
    margin: 0 auto;
    border: .001rem solid;
    padding: 5px;
}

.each-event:hover {
    background-color: #fbefda;
}

.event-link {
    font-size: 16px;
}

.event-card {
    display: flex;
    height: 12vh;
    color: #818080;
    font-family: 'Oswald', sans-serif;
}

.event-date {
    width: 0%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-time {
    display: block;
    position: absolute;
    margin: auto;
}

.event-time span {
    display: block;
}

.event-time span:first-child {
    color: #2b2b2b;
    font-weight: 400;
    font-size: 140%;
    text-transform: uppercase;
}

.event-time span:last-child {
    font-size: 120%;
    text-transform: uppercase;
}

.event-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    align-items: start;

    width: 80%;
    padding: 1px 0px 15px 40px
}

.event-title {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.event-venue, .event-location {
    font-size: 18px;
}

/* pagination */
.page-number {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color:transparent;
    color: #000;
    border: 1px solid #000000;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.page-number.active {
    background-color: #000;
    color: #fff;
}
.page-number:hover{
    background-color: #1C2431;
    color: #fff;
}

/* scroll button */
.scroll-top-button{
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgb(121, 120, 120);
    border: none;
    /* opacity: 0.7; */
    border-radius: 4px;
    top: 95%;
    right: 2%;
    cursor: pointer;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}
.scroll-top-button.show {
    opacity: 1;
    visibility: visible;
}
.scroll-top-button:hover{
    transform: scale(1.1);
}
.scroll-top-button:active{
    transform: scale(0.9);
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;

    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}