.search-bar-container {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    position: relative;
}

.search-bar {
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.search-bar:focus {
    border-color: rgb(32, 32, 32);
}

.no-results-message {
    margin-top: 8px;
    color: #888;
    font-style: italic;
}

.search-bar-icon {
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.2rem;
    pointer-events: none;
}
