.container {
    background-color: aqua;
    position: relative;
    margin: 0px auto;
    max-width: 1040px;
    border-radius: 2px;
    /* box-shadow: ; */
}

.one {
    width: 20%;
    height: auto;
    min-height: 52px;
}

.state {
    position: relative;
    border-radius: 2px;
}

.state-text {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.state-input {
    color: black;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.25;
    text-overflow: ellipsis;
    background-color: transparent;
}

.dates-container {
    position: relative;
}

.date-dropdown-container {
    position: relative;
    height: 100%;
}

.date-dropdown {
    position: relative;
    color: black;
    outline: none;
    border-radius: 2px;
    width: 100%;
}

.dropdown-label {
    z-index: 1;
    height: 100%;
    border: 0px !important;
    border-radius: 0px !important;
    width: 100%;
}

.dropdown-text {
    -webkit-box-align: center;
    white-space: nowrap;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-items {
    width: 100%;
    margin-top: 0px;
    position: absolute;
    display: flex;
    background-color: aqua;
    border-radius: 2px;
    white-space: nowrap;
    box-sizing: border-box;
    /* box-shadow: (0,0,0,0,12) 0px 2px 4px 0px; */
    flex-direction: column;
    overflow: hidden;
    border-color: gray;
    border-style: solid;
    border-width: 0px;

}

dropdown-selected {
    cursor: pointer;
    box-sizing: border-box;
}