.view-btn {
    background-color: #FF5841;
    border: none;
    color: black;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-right: 5px;
}

.view-btn:hover {
    background-color: #f94d37;
    border: none;

}

.edit-btn {
    background-color: #FF5841;
    border: none;
    color: black;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.edit-btn:hover {
    background-color: #f94d37;
    border: none;

}