.ticket_form_error_msg {
    color: red;
}

.ticket-form-container {
    background-image: url(../assets/images/searchEvent.avif);
    background-size: cover;
    background-position: center;
}

.delete-ticket {
    width: 90px;
    height: 40px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    right: 14px;
    bottom: 10px
}