.ticket-form-error-msg {
    color: red;
}

.ticket-form-container {
    background-image: url(../assets/images/searchEvent.avif);
    background-size: cover;
    background-position: center;
}

.list-btn {
    background-color: #FF5841;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.2s ease;
    margin-top: 2rem;
}

.list-btn:hover {
    background-color: #fb3d24;
}

.cancel-btn {
    background-color: #999;
    color: black;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.2s ease;
    margin-top: 2rem;
}

.cancel-btn:hover {
    background-color: #787878;
}

.vh-100 {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-bottom: 30px;
}

.card {
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
}

form.create-ticket-form {
    display: flex;
    flex-direction: column;
}

.ticket-form-error-msg {
    color: red;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.ticket-form-header {
    color: #FF5841;
}