
.ticket-container {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ticket-info {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.ticket-artist {
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 2rem;
    font-size: 18px;
}

.ticket-date {
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-weight: 500;
    display: flex;
}

.ticket-cost {
    font-size: 0.95rem;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    color: #060101;

}

.ticket-date-text, .ticket-stock-text {
    font-size: 0.95rem;
    font-weight: 500;
    color: #060101;
}

.ticket-image {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.ticket-image:hover {
    animation: rotate-cart 0.4s infinite alternate;
}

.ticket-original-price, .ticket-price-discount {
    font-size: 0.95rem;
    width: 100%;
    font-weight: 500;
}

.onsale-ticket {
    color: #777;
    font-size: 0.95rem;
    text-decoration: line-through;
    font-weight: 500;
}

/* add to cart */
.addToCart-button {
    padding: 4px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    transition: all .14s ease-out;
    width: 25%;
}

.ticket-addToCart:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
}

.ticket-addToCart:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}