
.ticket-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.ticket-artist {
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: start;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.ticket-date, .ticket-cost {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.ticket-date {
    padding-top: 5px;
}

.ticket-image {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

.ticket-image:hover {
    animation: rotate-cart 0.6s infinite alternate;
}

.ticket-original-price, .ticket-price-discount {
    font-size: 15px;
    width: 100%;
    font-weight: 500;
    /* display: flex; */
    /* justify-content: start; */
}

.onsale-ticket {
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

/* add to cart */
.addToCart-button {
    /* margin-top: 10px; */
    padding: 4px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    transition: all .14s ease-out;
    width: 25%;
}

.ticket-addToCart:hover {
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem #000;
}

.ticket-addToCart:active {
    transform: translate(0rem, 0rem);
    box-shadow: 0rem 0rem #000;
}