.bg-color {
    background-image: url(../assets/images/photo-1540039155733-5bb30b53aa14.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-width: 100vh;
    width: 100%;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.unauthorized {
    display: inline;
    font-size: 20px;
    color: red;
}

.card-body {
    text-align: center;
}

.ticket-card {
    display: table-row;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.redirect {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.user-auth-login-btn {
    background-color: #FF5841;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.2s ease;
    margin-top: 2rem;
    margin-left:5px;
}