
/* .single-card {
    width: 80%;
} */

/* .fl-left {
    float: left
} */


.row {
    width: 100%;
    justify-content: center;
}

.card {
    display: table-row;
    width: 70%;
    background-color: #fff;
    color: #989898;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative
}

.date {
    display: table-cell;
    width: 20%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6
}

.card-cont {
    display: table-cell;
    width: 50%;
    font-size: 90%;
    padding: 10px 10px 30px 50px
}

/* artist title */
.card-cont h3 {
    color: #3C3C3C;
    font-size: 150%
}

.card-cont .event-date time span {
    display: block;
}

/* edit button */
.link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    width: 75px;
    height: 30px;
    background-color: #D8DDE0;
    /* color: #fff; */
    color: black;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

/* circles in ticket */
.date:before, .date:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #dce7f9;
    position: absolute;
    top: -15px;
    right: -15px;
    /* z-index: 1; */
    border-radius: 50%
}

/* bottom circles */
.date:after {
    top: auto;
    bottom: -15px
}

.date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.date time span {
    display: block
}

.date time span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%
}